@model IEnumerable<MyRoommate.Domain.Model.Room>

@{
    ViewBag.Title = "Index";
}

<h3>Quartos disponíveis</h3>

@foreach (var item in Model) {
    <div class="grid-container">
        <div class="grid-item">
            <div class="card">
                <img src="@item.Photo" alt="Room" style="width:100%" />
                <div class="container-card">
                    <h4><b>@Html.DisplayFor(modelItem => item.Title)</b></h4>
                    <p><b>@Html.DisplayFor(modelItem => item.Description)</b></p>
                    <p><b>@Html.DisplayFor(modelItem => item.Address)</b></p>
                    <p><b>@Html.DisplayFor(modelItem => item.Price)</b></p>
                    <p>
                        @if (item.PublisherId == ViewBag.UserId)
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <text>|</text>
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }) <text>|</text>
                        }
                        @Html.ActionLink("Mais detalhes", "Details", new { id = item.Id })
                    </p>
                </div>
            </div>
        </div>
    </div>
}
